* {
  box-sizing: border-box;
}

body {
  background-color: #444444;
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.demo-button {
  background-color: black;
  color: white;
  height: 4em;
  width: 6em;
  border-radius: 5px;
  border: none;
}
.demo-button:hover {
  background-color: white;
  color: black;
}

header {
  padding: 5% 0;
  text-align: center;
}

section {
  min-height: 100px;
  padding: 6% 6%;
  background-color: #444;
}

/* section:nth-child(even) { */
  /* background-color: #ddd; */
/* } */
