.menu-item {
  padding: 0 10px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
  color: white;
}
a {
  color: white;
}

.menu-item-wrapper.active {
  border: none;
  outline: none;
}
 
.scroll-menu-arrow {
  background-color: black;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}

.scroll-menu-arrow:hover {
  background-color: white;
  color: black;
}