.input-list {
    list-style: none;
    padding: 0;
}

#entry-text {
    height: 200px;
}
#entry-text, #entry-title  {
    width: 40%
}

.entry {
    padding-right: 10px;
}
 .date {
     padding-right: 16px;
 }
.title {
    padding-right: 19px;
}