.input-list {
    list-style: none;
    padding: 0;
}

#entry-text {
    height: 200px;
    resize: vertical;
}
#entry-text, #entry-title  {
    width: 40%
}

.entry {
    padding-right: 10px;
}
 .date {
     padding-right: 16px;
 }
.title {
    padding-right: 19px;
}

.submit-button, .reset-button {
  background-color: black;
  color: white;
  margin: 0% 2%;
  height: 4em;
  width: 6em;
  border-radius: 5px;
  border: none;
}
.submit-button:hover, .reset-button:hover {
  background-color: white;
  color: black;
}