.habit-list {
    list-style: none;
    padding: 2% 0%;
}

input[type="checkbox"]:checked + span { 
    text-decoration: line-through; 
}

.habit-entry {
    padding: 5% 5%;
}

.task-delete {
    margin: 10px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: black;
    font-size: 1em;
}
.task-delete:hover {
    background-color: white;
    color: black;
} 

.task-list {
    font-size: 1.25em;
}


.add-button {
  margin: 5% 5%;
  height: 4em;
  width: 6em;
  border-radius: 5px;
  border: none;
}
.add-button:hover {
  background-color: gray;
  color: black;
}
.new-add-button {
  margin: 5% 5%;
  height: 4em;
  width: 6em;
  border-radius: 5px;
  border: none;
}
.new-add-button:hover {
  background-color: gray;
  color: black;
}


@media screen and (min-width: 800px) {
    .task-div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    .add-button {
        margin-top: 20%;
    }
}