.entry-list {
    list-style: none;
}

.entry-button {
  background-color: black;
  color: white;
  height: 4em;
  border-radius: 5px;
  border: none;
  margin: 10px;
}
.entry-button:hover {
  background-color: white;
  color: black;
}

@media screen and (min-width: 500px) { 
  .entry-list {
    padding: 0% 10%;
    justify-content: space-between ;
    list-style: none;
    column-count: 2;
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
    .entry-list{
      columns: 3;
    }
}